---
import { useStoryblokApi } from "@storyblok/astro";
import { Icon } from 'astro-icon/components'

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: import.meta.env.STORYBLOK_ENVIRONMENT,
  resolve_links: "url",
});

const headerMenu = data?.story?.content?.header_menu;
const headerTitle = data?.story?.content.header_title;
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var mobileMenuToggle = document.getElementById("mobile-menu-toggle");
    var mobileMenu = document.getElementById("mobile-menu");
    var toggleIcon = document.getElementById("toggle-icon");
    var menuIcon = document.getElementById("menu-icon");


    mobileMenu.style.display = "none"

    mobileMenuToggle.addEventListener("click", function () {
      if (mobileMenu.style.display === "block") {
        mobileMenu.style.display = "none";
        toggleIcon.style.display = "none"
        menuIcon.style.display = "block"

      } else {
        mobileMenu.style.display = "block";
        toggleIcon.style.display = "block"
        menuIcon.style.display = "none"
      }
    });
  });
</script>
<header
  class="w-full h-fit absolute bg-gradient-to-b from-gray-900 to-transparent py-20"
>
  <div class="container w-fit h-full mx-auto flex flex-col space-y-4">
    <div class="flex flex-row space-x-10">
      <button id="mobile-menu-toggle">
        <Icon id="toggle-icon" class="w-8 h-8 hidden text-white" name='chevron_down'/>
        <Icon id="menu-icon" class="w-8 h-8 text-white" name='menu'/>
      </button>
      <a class="self-center" href="/">
        <h1
          class="text-[#fff] text-3xl tracking-widest font-[spinnaker] uppercase"
        >
          {headerTitle}
        </h1>
      </a>
    </div>

    <nav id="mobile-menu" class="hidden">
      <ul class="flex flex-col text-xl">
        {
          headerMenu.map((menu) => (
            <li key={menu.link.story.name} class="relative group">
              <a
                href={`/${menu.link.cached_url}`}
                class="group-hover text-[#fff] uppercase font-[questrial] hover:underline"
              >
                {menu.link.story.name}
              </a>
              {menu.sublinks && menu.sublinks.length > 0 && (
                <div class="flex flex-col gap-4 text-sm top-full left-0 p-2 ml-2 text-nowrap whitespace-nowrap">
                  {menu.sublinks.map((subItem) => (
                    <div key={subItem.link.story.name}>
                      <a
                        href={`/${subItem.link.cached_url}`}
                        class="text-[#fff] uppercase font-[questrial] hover:text-bold hover:underline"
                      >
                        {subItem.link.story.name}
                      </a>
                    </div>
                  ))}
                </div>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
