---
import { useStoryblokApi } from "@storyblok/astro";
import { Icon } from "astro-icon/components";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: import.meta.env.STORYBLOK_ENVIRONMENT,
  resolve_links: "url",
});

const headerMenu = data?.story?.content?.header_menu;
const headerTitle = data?.story?.content.header_title;
---

<header id="mobile-header" class="w-full h-full absolute">
  <div class="h-fit py-12">
    <div class="container w-fit h-full mx-auto flex flex-col space-y-4">
      <div class="flex flex-row space-x-10">
        <button id="mobile-menu-toggle">
          <Icon
            id="toggle-icon"
            class="w-8 h-8 hidden text-white"
            name="chevron_down"
          />
          <Icon id="menu-icon" class="w-8 h-8 text-white" name="menu" />
        </button>
        <a class="self-center" href="/">
          <h1
            class="text-white text-3xl tracking-widest font-[spinnaker] uppercase"
          >
            {headerTitle}
          </h1>
        </a>
      </div>
      <nav id="mobile-menu" class="hidden h-full">
        <ul class="flex flex-col text-xl">
          {
            headerMenu.map((menu) => (
              <li key={menu.link.story.name} class="relative group">
                <a
                  href={`/${menu.link.cached_url}`}
                  class="group-hover text-white uppercase font-[questrial] hover:underline"
                >
                  {menu.link.story.name}
                </a>
                {menu.sublinks && menu.sublinks.length > 0 && (
                  <div class="flex flex-col gap-4 text-sm top-full left-0 p-2 ml-2 text-nowrap whitespace-nowrap">
                    {menu.sublinks.map((subItem) => (
                      <div key={subItem.link.story.name}>
                        <a
                          href={`/${subItem.link.cached_url}`}
                          class="hover:text-[#222] text-white uppercase font-[questrial] hover:text-bold hover:underline"
                        >
                          {subItem.link.story.name}
                        </a>
                      </div>
                    ))}
                  </div>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
